.pageJournal {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}
.pageJournal-featured {
    width: 100%;
    height: 500px;
    background: #1e1e1e;
    border-bottom: #676767 1px solid;
}
.pageJournal-grid {
    display: grid;
}
.pageJournal-item {
    height: 410px;
    box-sizing: border-box;
    /*box-shadow: 0 0 10px rebeccapurple inset, 0 0 30px #432e63 inset;*/
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 15px;
    /*background: linear-gradient(#212123, #171717, #212123);*/
    border-radius: 2px;
}
.pageJournal-item-thumbnail {
    width: 100%;
    box-sizing: border-box;
    height: 50%;
    filter: blur(10%) brightness(40%) ;
    border-radius: 2px;
    background-size: cover;
}
.pageJournal-item-date {
    color: darkgray;
    font-size: 14px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin: 5px 0 0 0;
}
.pageJournal-item-title {
    color: white;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.pageJournal-item-description {
    font-family: inherit;
    color: white;
    font-size: 18px;
    height: 64px;
    overflow: clip;
    text-align: center;
    margin: 10px 0;
}
.pageJournal-item-description p {
    margin: 0;
}

/* More Button */

.pageJournal-item-more_button:hover {
    background-color: white;
    color: rebeccapurple;
}
.pageJournal-item-more_button {
    padding: 8px 10px;
    border: white solid 3px;
    border-radius: 1px;
    color: white;
    transform: skew(-20deg);
    display: inline-block;
}
.pageJournal-item-more_button-text {
    transform: skew(20deg);
    font-size: 24px;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
}

@media (min-width: 1200px) {
    .pageJournal-grid {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    .pageJournal-grid {
        grid-template-columns: 33% 34% 33%;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .pageJournal-grid {
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 600px) {
    .pageJournal-grid {
        grid-template-columns: 100%;
    }
}