body {
    padding-top: 70px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;

    background: linear-gradient(#111111, #212123);
    box-shadow: 0 2px 20px rebeccapurple;
}

/* Header Branding */
.header-branding {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 30px;
    float: left;
}
.header-branding-title, .header-navbar-item {
    font-weight: 700;
    color: white;
    text-decoration: none;
}

/* Header Navbar*/
.header-navbar {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background: #1e1e1e;
    transition: max-height 0.15s ease-out;
}
.header-navbar-item:hover {
    text-decoration: underline;
}

/* Dropdown Menus */
.header-navbar-dropdown-toggle {
    display: none;
}
.header-navbar-dropdown {
    overflow: hidden;
    display: inline-block;
}
.header-navbar-dropdown, .header-navbar-dropdown-button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    font-family: inherit;
    margin: 0;
}
.header-navbar-dropdown-button {
    background-color: transparent;
    border-style: none;
    font-family: inherit;
}
.header-navbar-dropdown-arrow {
    display: inline-block;
    transform: scale(1, 0.8);
    transition: all 0.15s ease-out;
    position: absolute;
}
.header-navbar-dropdown-toggle:checked ~ .header-navbar-dropdown-button .header-navbar-dropdown-arrow {
    transform: scale(1, 0.8) rotate(180deg);
}
.header-navbar-dropdown-content {
    list-style: none;
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    box-shadow: 0 10px 10px rebeccapurple;
    background: linear-gradient(#212123, #111111);
    margin: 0;
    padding: 0;
    top: 70px;
}
.header-navbar-dropdown-toggle:checked ~ .header-navbar-dropdown-content {
    display: flex;
    flex-direction: column;
}
.header-navbar-dropdown-content a {
    float: none;
    padding: 12px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: white;
    font-family: inherit;
}
.header-navbar-dropdown-content a:hover {
    text-decoration: underline;
}

/*Header Collapsing "Burger" Button*/
.header-burger-toggle {
    display: none;
}

/* Too Small */
@media (max-width: 325px) {
    .screen-size-warning {
        display: flex;
        position: fixed;
        z-index: 254;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding-top: 70px;
        justify-items: center;
        background: #212123;
        color: white;
    }
    .header-branding-icon {
        z-index: 255;
        height: 40px;
    }
    .header-branding-title {
        z-index: 255;
    }
}

/* Mobile Mode */
@media (min-width: 325px) and (max-width: 705px) {

    @media (max-width: 350px) {
        .header-branding-icon {
            height: 40px;
        }
        .header-branding-title {
            font-size: 18px;
            margin-left: 5px;
        }
    }

    @media (min-width: 350px) and (max-width: 400px) {
        .header-branding-icon {
            height: 45px;
        }
        .header-branding-title {
            font-size: 20px;
            margin-left: 10px;
        }
    }

    @media (min-width: 400px) {
        .header-branding-icon {
            height: 50px;
        }
        .header-branding-title {
            font-size: 24px;
            margin-left: 15px;
        }
    }

    /* Screen Size Warning*/
    .screen-size-warning {
        display: none;
    }

    /* Header Navbar */
    .header-navbar {
        clear: both;
        display: block;
        max-height: 0;
        box-shadow: 0 5px 5px rebeccapurple, 0 -10px 10px #1e1e1e;
    }
    .header-burger-toggle:checked ~ .header-navbar {
        max-height: 240px;
    }

    .header-navbar-highlighted_item {
        background: linear-gradient(to right, rebeccapurple, #432e63, rebeccapurple);
    }
    .header-navbar-item {
        padding: 20px;
        text-align: center;
        display: block;
    }

    /* Header Collapsing "Burger" Button */
    .header-burger {
        padding: 28px 20px;
        position: relative;
        cursor: pointer;
        transform: skew(20deg);
    }

    .header-burger-container {
        height: 70px;
        width: 70px;
        background: linear-gradient(rebeccapurple, #432e63);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: skew(-20deg);
        float: right;
        margin-right: 20px;
    }

    .header-burger-section, .header-burger-section:before, .header-burger-section:after {
        background: white;
        display: block;
        height: 3px;
        width: 24px;
    }

    .header-burger-section {
        position: relative;
        transition: background 0.15s ease-out;
    }

    .header-burger-section:before, .header-burger-section:after {
        content: "";
        position: absolute;
        transition: all 0.15s ease-out;
    }

    .header-burger-section:before {
        top: 8px;
    }

    .header-burger-section:after {
        top: -8px;
    }

    .header-burger-toggle:checked ~ .header-burger-container .header-burger .header-burger-section {
        background: transparent;
    }

    .header-burger-toggle:checked ~ .header-burger-container .header-burger .header-burger-section:before {
        transform: rotate(-45deg);
        top: 0;
    }

    .header-burger-toggle:checked ~ .header-burger-container .header-burger .header-burger-section:after {
        transform: rotate(45deg);
        top: 0;
    }
}

/*Desktop & Tablet Mode*/
@media (min-width: 705px) {

    /*Tablet Mode*/
    @media (max-width: 910px) {

        /*Header Navbar*/
        .header-navbar {
            width: 400px;
        }

        .header-navbar-highlighted_item {
            width: 100px;
        }

        /* Dropdown Menus*/
        .header-navbar-dropdown-button {

        }
        .header-navbar-dropdown-arrow {
            font-size: 10px;
        }
    }

    /*Desktop Mode*/
    @media (min-width: 910px) {

        /*Header Navbar*/
        .header-navbar {
            width: 600px;
        }

        .header-navbar-highlighted_item {
            width: 120px;
        }

        /* Dropdown Menus*/
        .header-navbar-dropdown-button {

        }
        .header-navbar-dropdown-arrow {
            font-size: 16px;
        }
    }

    /* Screen Size Warning*/
    .screen-size-warning {
        display: none;
    }

    /* Header Branding */
    .header-branding-icon {
        height: 50px;
    }

    .header-branding-title {
        font-size: 24px;
        margin-left: 15px;
    }

    /* Header Navbar */
    .header-navbar {
        clear: none;
        float: right;
        max-height: none;
        background: transparent;
        box-shadow: none;

        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .header-navbar-highlighted_item {
        height: 70px;
        background: linear-gradient(rebeccapurple, #432e63);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: skew(-20deg);
    }

    .header-navbar-highlighted_item .header-navbar-item {
        transform: skew(20deg);
    }

    .header li{
        float: left;
    }

    /* Header Collapsing "Burger" Button */
    .header-burger {
        display: none;
    }
}