header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;

    background: linear-gradient(#111111, #212123);
    box-shadow: 0 2px 20px rebeccapurple;
}
.header-branding {
    display: flex;
    height: 100%;
    align-items: center;
    margin-left: 30px;
}
.branding-icon {
    height: 50px;
}
.branding-title, .header-page-title {
    font-weight: 700;
    color: white;
    text-decoration: none;
}
.header-page-title:hover {
    text-decoration: underline;
}
.branding-title {
    font-size: 20px;
    margin-left: 5px;
}

.header-current-page-container {
    transform: skew(-20deg);
    background: transparent;
}
.header-current-page-container .header-page-title {
    transform: skew(20deg);
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #212123;
}

header ul a {
    display: block;
    padding: 20px;
    text-decoration: none;
}

header .header-branding {
    float: left;
}

header .header-navbar {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    box-shadow: 0 2px 20px rebeccapurple;
    display: block;
}

header .menu-icon {
    margin: 6px 6px 0 0;
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

header .menu-icon .nav-icon {
    background: rebeccapurple;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background 0.2s ease-out;
}

header .menu-icon .nav-icon:before {
    background: rebeccapurple;
    content: "";
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    top: 5px;
    transition: all 0.2s ease-out;
}

header .menu-icon .nav-icon:after {
    background: rebeccapurple;
    content: "";
    display: block;
    height: 2px;
    width: 18px;
    position: absolute;
    top: -5px;
    transition: all 0.2s ease-out;
}

header .menu-btn {
    display: none;
}

header .menu-btn:checked ~ .header-navbar {
    max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .nav-icon {
    background: transparent;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
}

header .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 670px){

    header li {
        float: left;
    }
    header li a {
        padding: 20px 30px;
    }
    header .header-navbar {
        clear: none;
        float: right;
        max-height: none;
        background: transparent;
        box-shadow: none;


        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }
    header .menu-icon {
        display: none;
    }
    .branding-title {
        margin-left: 10px;
    }
    .header-current-page-container {
        height: 70px;
        background: linear-gradient(rebeccapurple, #432e63);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 670px) and (max-width: 869px){
    header .header-navbar {
        width: 400px;
    }
    .header-current-page-container {
        width: 100px;
    }
}
@media (min-width: 870px){
    header .header-navbar {
        width: 600px;
    }
    .header-current-page-container {
        width: 120px;
    }
}