* {
    scroll-behavior: smooth;
}
html {
    height: 100%;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    margin: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
    background-color: #222326;
}
.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
}
.backdrop {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateZ(-5px) scale(1.5);
    position: absolute;
    width: calc(100% + 10px);
    object-fit: cover;
    z-index: -1;
}
.section {
    position: relative;
    min-height: 450px;
    padding: 30px;
    box-sizing: border-box;
}
@media (max-width: 400px) {
    .section {
        padding: 30px 10px;
    }
}
.void {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.anchor {
    position: absolute;
    top: -70px;
}

/* Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #111111;
}
::-webkit-scrollbar-thumb {
    background: #663399;
}
::-webkit-scrollbar-thumb:hover {
    background: #432e63;
}

/* Font */
h1, h2, h3, h4, h5, h6, p, div, a, label {
    font-family: Faustina, serif;
    color: white;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
p {
    font-size: 1.2rem;
}


/* Button */
.button {
    padding: 8px 10px;
    margin: 0 8.5px;
    border: white solid 3px;
    border-radius: 1px;
    transform: skew(-20deg);
    display: inline-block;
    cursor: pointer;
}
.button:hover {
    background-color: white;
}
.button-text {
    transform: skew(20deg);
    font-size: 24px;
    color: white;
    font-weight: 700;
    font-family: inherit;
}
.button:hover .button-text {
    color: rebeccapurple;
}