.section-title {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.section-journal {
    background-color: #171717;
    display: flex;
    flex-direction: column;
}
.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel-controls {
    width: 1.5rem;
    cursor: pointer;
}
.carousel-controls:hover {
    filter: brightness(80%);
}
.carousel {
    display: flex;
    align-items: center;
    margin: 0 10px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel-item {
    flex: 0 0 auto;
    width: 340px;
    height: 410px;
    margin-right: 10px;
    scroll-snap-align: start;
}