/* Subpage Title */
.pageExperience-subpage-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 550px;
    background: #1e1e1e;
    border-bottom: #676767 1px solid;
    position: fixed;
    z-index: 1;
    top: 70px;
}
.pageExperience-subpage-title-title {
    color: white;
    font-size: 64px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    position: relative;
}
.pageExperience-subpage-title-subtitle {
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 0;
    position: relative;
}
.pageExperience-subpage-title-description {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    position: relative;
    max-width: 1000px;
}
.pageExperience-subpage-title-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(3px) brightness(70%);
}

/* Subpage Items List*/
.pageExperience-subpage-list {
    margin-top: 550px;
    z-index: 2;
    position: relative;
    background: #222326;
    box-shadow: 0 2px 15px rebeccapurple;
}

/* Subpage Item */
.pageExperience-subpage-item {
    box-sizing: border-box;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 0 20px;
    margin-top: 40px;
}

/* Item Thumbnail */
.pageExperience-subpage-item-thumbnail {
    height: 100%;
    width: 45%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.pageExperience-subpage-item-thumbnail img {
    width: 100%;
    box-sizing: border-box;
    object-fit: cover;
    height: 80%;
    filter: blur(10%) brightness(40%) ;
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
    border: #1e1e1e 3px solid;
}
/* Item Text */
.pageExperience-subpage-item-text {
    height: 100%;
    width: 55%;
    box-sizing: border-box;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.pageExperience-subpage-item-text-date {
    color: darkgray;
    font-size: 16px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    margin: 5px 0 0 0;
}
.pageExperience-subpage-item-text-title {
    color: white;
    font-family: inherit;
    font-size: 28px;
    font-weight: 700;
    margin: 0;
}
.pageExperience-subpage-item-text-description {
    font-family: inherit;
    color: white;
    font-size: 20px;
    max-height: 5lh;
    overflow: hidden;
    margin: 10px 0;
}
/* if browser = firefox */
@supports ( -moz-appearance:none ){
    /* This is here because firefox does not support "lh" as a measurement  */
    .pageExperience-subpage-item-text-description {
        max-height: 124px;
    }
}
.pageExperience-subpage-item-text-description p {
    margin: 0;
}
@media (min-width: 700px) {
    .pageExperience-subpage-item-reversed .pageExperience-subpage-item-thumbnail {
        order: 2;
    }
    .pageExperience-subpage-item-reversed .pageExperience-subpage-item-text {
        text-align: right;
    }
}
@media (max-width: 700px) {

    /* List */
    .pageExperience-subpage-list {
        padding-bottom: 120px;
    }

    /* Item */
    .pageExperience-subpage-item {
        height: 410px;
        margin-top: 175px;
        padding: 0 15px;
        box-sizing: border-box;
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }

    /* Thumbnail */
    .pageExperience-subpage-item-thumbnail {
        width: 80%;
        height: 50%;
    }

    /* Text Box */
    .pageExperience-subpage-item-text {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    .pageExperience-subpage-item-text-date {
        margin: 5px 0 0 0;
    }
    .pageExperience-subpage-item-text-title {
        margin: 0;
        text-align: center;
    }
    .pageExperience-subpage-item-text-description {
        text-align: center;
        margin: 10px 0;
    }
}