.pageExperience {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    transition: flex-d;
}
.pageExperience-category {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.pageExperience-category-stem-image, .pageExperience-category-non_stem-image, .pageExperience-category-portfolio-image {
    position: absolute;
    object-fit: contain;
    z-index: 1;
}
.pageExperience-category-non_stem-image {
    filter: blur(3px) brightness(90%);
    left: 0;
}
.pageExperience-category-stem-image {
    filter: blur(3px) brightness(70%);
    left: 0;
}
.pageExperience-category-portfolio-image {
    filter: blur(3px) brightness(60%);
    right: 0;
}
.pageExperience-category a {
    text-decoration: none;
}
.pageExperience-category a:hover .pageExperience-category-header {
    text-decoration: underline;
}
.pageExperience-category-header {
    position: relative;
    color: white;
    font-size: 64px;
    text-align: center;
    margin: 0;
    z-index: 2;
}
.pageExperience-category-description {
    position: relative;
    color: white;
    font-size: 32px;
    text-align: center;
    margin: 0;
    z-index: 2;
}
.pageExperience-category-more_button {
    position: relative;
    left: calc(100% / 2 - 126.86px / 2);
    padding: 8px 10px;
    margin-top: 20px;
    border: white solid 3px;
    z-index: 2;
    border-radius: 1px;
    display: inline-block;
    color: white;
    transform: skew(-20deg);
}
.pageExperience-category-more_button-text {
    transform: skew(20deg);
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: inherit;
}
.pageExperience-category a:hover .pageExperience-category-more_button {
    background-color: white;
    color: rebeccapurple;
}

/* Mobile Mode */
@media (max-width: 910px) {
    .pageExperience {
        flex-direction: column;
        height: 900px;
    }
    .pageExperience-category-non_stem-image {
        width: 100%;
        bottom: 0;
    }
    .pageExperience-category-stem-image, .pageExperience-category-portfolio-image {
        width: 140%;
        background-size: cover;
        bottom: 0;
    }
}

/* Desktop Mode */
@media (min-width: 910px) {
    .pageExperience {
        flex-direction: row;
        height: calc(100vh - 70px - 100px);
    }
    .pageExperience-category-non_stem-image, .pageExperience-category-stem-image, .pageExperience-category-portfolio-image {
        height: 100%;
        top: 0;
    }
}