.header-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;

    background: linear-gradient(#111111, #212123);
    box-shadow: 0 2px 20px rebeccapurple;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    margin-left: 50px;
}
.header-right {
    margin-right: 50px;
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-current-page-box {
    width: 100px;
    height: 70px;
    transform: skew(-20deg);
    background: linear-gradient(rebeccapurple, #432e63);
    text-align: center;
}
.header-current-page {
    margin-top: 25%;
    transform: skew(20deg);
    display: block;
}
.header-title, .header-page, .header-current-page {
    font-family: Faustina, serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
.header-title {
    font-size: 20px;
}
.header-page, .header-current-page {
    cursor: pointer;
}
.header-page:hover, .header-current-page:hover {
    text-decoration: underline;
}