header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 100;

    background: linear-gradient(#111111, #212123);
    box-shadow: 0 2px 20px rebeccapurple;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.header-right {
    width: 600px;

    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}
.header-current-page-box {
    width: 100px;
    height: 70px;
    transform: skew(-20deg);
    background: linear-gradient(rebeccapurple, #432e63);
    text-align: center;
}
.header-current-page {
    margin-top: 25%;
    transform: skew(20deg);
    display: block;
}
.header-title, .header-page-title, .header-current-page {
    font-family: Faustina, serif;
    font-weight: 700;
    color: white;
    text-decoration: none;
}
.page-icon {
    height: 50px;
}
.header-title {
    font-size: 20px;
    margin-left: 10px;
}
.header-page:hover, .header-current-page:hover {
    text-decoration: underline;
}